@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling {
  pointer-events: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: black;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide default cursor globally on EVERYTHING */
* {
    cursor: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Custom transitions for portfolio images */
.portfolio-img {
    transition: filter 0.5s ease, object-position 0.8s ease-out;
}

.group:hover .portfolio-img-scroll {
    transition: filter 0.5s ease, object-position 8s linear;
}